<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.title, message %></li>
  <% end %>
</ul>

<%= react_component("ChatLayout", { greeting: '你好' }) %>

<h1><%#= @message.title %></h1>

<p><%#= @message.content %></p>

<%#= render 'comments/comments', message: @message %>
